@model HelpAFamily.Models.Chat

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Chat</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="SenderId" class="control-label"></label>
                <input asp-for="SenderId" class="form-control" />
                <span asp-validation-for="SenderId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SenderUsername" class="control-label"></label>
                <input asp-for="SenderUsername" class="form-control" />
                <span asp-validation-for="SenderUsername" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReceiverId" class="control-label"></label>
                <input asp-for="ReceiverId" class="form-control" />
                <span asp-validation-for="ReceiverId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReceiverUsername" class="control-label"></label>
                <input asp-for="ReceiverUsername" class="form-control" />
                <span asp-validation-for="ReceiverUsername" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <input asp-for="Content" class="form-control" />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataRead" class="control-label"></label>
                <input asp-for="DataRead" class="form-control" />
                <span asp-validation-for="DataRead" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MessageSent" class="control-label"></label>
                <input asp-for="MessageSent" class="form-control" />
                <span asp-validation-for="MessageSent" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="SenderDeleted" /> @Html.DisplayNameFor(model => model.SenderDeleted)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ReceiverDeleted" /> @Html.DisplayNameFor(model => model.ReceiverDeleted)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="DonationId" class="control-label"></label>
                <select asp-for="DonationId" class="form-control" asp-items="ViewBag.DonationId"></select>
                <span asp-validation-for="DonationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdId" class="control-label"></label>
                <select asp-for="AdId" class="form-control" asp-items="ViewBag.AdId"></select>
                <span asp-validation-for="AdId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
